
  <div class="col-xs-12 blogs_image">
    <img class="col-xs-6 col-xs-offset-3" src="../../assets/blogs_header.jpg">
  </div>
  
  <div class="container">
    

    <div class="row col-md-8">

<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>    
</div>
    
    <aside class="col-md-4 sidemenu">
      <section id="border">
        <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default"><%= link_to 'New Post', new_blog_path %></button>
            </div>
      </section>
      <section>
        <h2>My Blog</h2>
        <ul>
  <li><%= link_to 'Top' ,'/tops' %></li>
      <li><%= link_to 'Blog all' ,'/blogs' %></li>
      <li><%= link_to 'New Blog' ,'/blogs/new' %></li>
      </ul>
      </section>
    </aside>
  </div> 

