  <div class="col-xs-12 blogs_image">
    <img class="col-xs-6 col-xs-offset-3" src="../assets/blogs_header.jpg">
  </div>
  <div class="container">
    <div class="row col-md-8">
      <div>
      <h1>Profile</h1>
      
<!--  画像 -->     
      <table>
        <thead>
          <tr>
            <th>Image</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <%# @user.each do |feed| %>
          <tr>
            <td><%#= user.image %></td>
            <td><%#= link_to 'Show', feed %></td>
            <td><%#= link_to 'Edit', edit_feed_path(user) %></td>
            <td><%#= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <%# end %>
        </tbody>
      </table>
      <br>
      <%#= link_to 'New Feed', new_user_path %>

<!--  画像 -->

      <p>Name: <%= @user.name %></p>
      <p>Mail: <%= @user.email %></p>
      </div>
      <div>
        <h1>Favorite Blogs</h1>
        <table border="1" class="fav">
          <tr>
            <th width="300px">title</th>
            <th width="300px">content</th>
          </tr>
        <% @user.favorites.each do |favorite| %>
          
          <tr>
        
            <td class="fav"><%= favorite.blog.title %></td>
            <td clas="fav"><%= favorite.blog.content %></td>
          </tr>
        <% end %>
       
        </table>
        
        
      </div>
      
    </div>

    <aside class="col-md-4 sidemenu">
      <section id="border">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><% if logged_in? %><%= link_to 'New Post', new_blog_path %><% else %><%= link_to 'New Post', new_user_path %><% end %></button>
        </div>
      </section>
      <section>
        <h2>My Blog</h2>
        <ul>
          <% if logged_in? %>
          <li><%= link_to 'Top' ,'/tops' %></li>
          <li><%= link_to 'Blog all' ,'/blogs' %></li>
          <li><%= link_to 'New Blog' ,'/blogs/new' %></li>
          <% else %>
          <li><%= link_to 'Top' ,new_user_path %></li>
          <li><%= link_to 'Blog all' ,new_user_path %></li>
          <li><%= link_to 'New Blog' ,new_user_path %></li>
          <% end %>
        </ul>
      </section>
    </aside>
  </div> 